.videoList {
  border: solid 1px black;
  box-sizing: content-box;
  min-height: 480px;
}
.message {
  position: absolute;
  color: black;
  font-weight: bolder;
  -webkit-text-stroke: 0.2px white;
}
